{% extends 'base.html' %}

{% block title %}Dashboard - ProjectLens{% endblock %}

{% block content %}

<div class="ratio ratio-16x9 border rounded">
    <iframe
      title="ProjectLens Dashboard"
      src="https://app.powerbi.com/view?r=eyJrIjoiMDMyNGQ4Y2QtMTY2MC00NWJmLTgxNmYtYWZiNmYzYmUzNTllIiwidCI6IjhkY2M5NDc4LTEzYjctNGYxNS04ZWIxLWU1ZmE0ZThlY2U2ZSJ9"
      allowFullScreen
    ></iframe>
    <!-- Example Embed URL Structure:
    src="https://app.powerbi.com/reportEmbed?reportId=YOUR_REPORT_ID&groupId=YOUR_GROUP_ID&autoAuth=true&ctid=YOUR_TENANT_ID"
    -->
</div>
{% endblock %} 